MODE=LOCAL

APP_HOST=0.0.0.0
APP_PORT=8000

DB_HOST=db
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_NAME=booking_rooms_db

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET_KEY=5fbe5e570a014dfc59202625a33fa060939188e2a0034770bf10aca5e8fc96b7
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
